theme-colour-bg-header = #fff
theme-colour-text = #333
theme-colour-text-code = #000
theme-colour-bg-dark = #323232
theme-colour-primary = #ff431f
theme-colour-secondary = #4f26be

// base styles

body
  background: theme-colour-bg-dark
  font-size: 1.2rem
  line-height: 1.8rem
  padding: 0
  margin: 0
  font-family: 'Lato', sans-serif
  font-weight: 300

h1, h2, h3, h4, h5, h6
  margin-bottom: 1rem
  font-weight: 400
h1, h2, h3
  margin-top: 6rem
h4, h5, h6
  margin-top: 3rem
a
  color: theme-colour-primary
  text-decoration: none
  &:hover
    color: darken(theme-colour-primary, 20%)
    text-decoration: none
ul, ol
  li
    margin: 0.5rem 0
code
  display: inline-block
  vertical-align: middle
  background: #eee
  padding: 0.25rem
  font-size: 1rem
  color: theme-colour-text-code
code.block
  display: block
  overflow-y: auto
  max-height: 25vh
  white-space: pre
  padding: 1rem

// layout

div.content-container
  max-width: 50rem
  margin: 0 auto

div.header
  padding: 2rem
  background: theme-colour-bg-header
  color: #333
  a
    color: #333
    &.title
      font-weight: 400
      font-size: 1.6rem
      color: theme-colour-primary

div.content
  background: #fafafa
  padding: 4rem 1rem

a.source-link
  display: inline-block
  color: theme-colour-text-code
  text-transform: uppercase
  font-size: 0.8rem
  line-height: 1em
  margin: 0.5rem 0

div.footer
  padding: 3rem 1rem
  color: #fff
